.DS_Store
families/
families_fubar/
.snakemake/
test/.snakemake/
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
.idea/wsgups.iml
.idea/shelf/
venv/
