
.DS_Store
.DS_Store
families/
.snakemake/
families/family_41023.faa
families/family_41023.fna
.snakemake/rule_tracking/ZmFtaWxpZXMvZmFtaWx5XzQxMC5hbG4uY29kb24uRlVCQVIubG9n
families/family_38041.faa
families/family_38041.fna
families/family_410.aln
families/family_410.aln.codon
families/family_410.aln.codon.FUBAR.cache
families/family_410.aln.codon.FUBAR.json
families/family_410.aln.codon.FUBAR.log
messages.log
final_results/famsUnderSelection.txt
families_fubar/family_38041.tree
families_fubar/family_38041.fna.cleaned
families_fubar/family_38041.fna
families_fubar/family_38041.faa
families_fubar/family_38041.aln.codon.FUBAR.log
families_fubar/family_38041.aln.codon.FUBAR.json
families_fubar/family_38041.aln.codon.FUBAR.cache
families_fubar/family_38041.aln.codon
families_fubar/family_38041.aln
families/family_41023.aln.codon.FUBAR.json
families/family_41023.aln.codon.FUBAR.cache
families/family_410.aln.codon.FUBAR.json
families/family_410.aln.codon.FUBAR.cache
families/family_38041.tree
families/family_38041.fna.cleaned
families/family_38041.aln.codon.FUBAR.log
families/family_38041.aln.codon.FUBAR.json
families/family_38041.aln.codon.FUBAR.cache
families/family_38041.aln.codon
families/family_38041.aln
.snakemake/shellcmd_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLnRyZWU=
.snakemake/shellcmd_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbi5jb2Rvbi5GVUJBUi5sb2c=
.snakemake/shellcmd_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbi5jb2Rvbi5GVUJBUi5qc29u
.snakemake/shellcmd_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbg==
.snakemake/rule_tracking/ZmluYWxfcmVzdWx0cy9mYW1zVW5kZXJTZWxlY3Rpb24udHh0
.snakemake/rule_tracking/ZmFtaWxpZXNfZnViYXIvZmFtaWx5XzM4MDQxLmZhYQ==
.snakemake/rule_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLnRyZWU=
.snakemake/rule_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmZuYS5jbGVhbmVk
.snakemake/rule_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbi5jb2Rvbi5GVUJBUi5sb2c=
.snakemake/rule_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbi5jb2Rvbi5GVUJBUi5qc29u
.snakemake/rule_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbi5jb2Rvbg==
.snakemake/rule_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbg==
.snakemake/params_tracking/ZmluYWxfcmVzdWx0cy9mYW1zVW5kZXJTZWxlY3Rpb24udHh0
.snakemake/params_tracking/ZmFtaWxpZXNfZnViYXIvZmFtaWx5XzM4MDQxLmZhYQ==
.snakemake/params_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLnRyZWU=
.snakemake/params_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmZuYS5jbGVhbmVk
.snakemake/params_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbi5jb2Rvbi5GVUJBUi5sb2c=
.snakemake/params_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbi5jb2Rvbi5GVUJBUi5qc29u
messages.log
families/family_41023.aln.codon.FUBAR.json
families/family_41023.aln.codon.FUBAR.cache
families/family_410.aln.codon.FUBAR.json
families/family_410.aln.codon.FUBAR.cache
.snakemake/params_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbi5jb2Rvbg==
.snakemake/params_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbg==
.snakemake/log_tracking/ZmluYWxfcmVzdWx0cy9mYW1zVW5kZXJTZWxlY3Rpb24udHh0
.snakemake/log_tracking/ZmFtaWxpZXNfZnViYXIvZmFtaWx5XzM4MDQxLmZhYQ==
.snakemake/log_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLnRyZWU=
.snakemake/log_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmZuYS5jbGVhbmVk
.snakemake/log_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbi5jb2Rvbi5GVUJBUi5sb2c=
.snakemake/log_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbi5jb2Rvbi5GVUJBUi5qc29u
.snakemake/log_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbi5jb2Rvbg==
.snakemake/log_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbg==
.snakemake/input_tracking/ZmluYWxfcmVzdWx0cy9mYW1zVW5kZXJTZWxlY3Rpb24udHh0
.snakemake/input_tracking/ZmFtaWxpZXNfZnViYXIvZmFtaWx5XzM4MDQxLmZhYQ==
.snakemake/input_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLnRyZWU=
.snakemake/input_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmZuYS5jbGVhbmVk
.snakemake/input_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbi5jb2Rvbi5GVUJBUi5sb2c=
.snakemake/input_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbi5jb2Rvbi5GVUJBUi5qc29u
.snakemake/input_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbi5jb2Rvbg==
.snakemake/input_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbg==
.snakemake/incomplete_files/ZmFtaWxpZXNfZnViYXIvX19zbmFrZW1ha2VfZHluYW1pY19fLmZhYQ==
.snakemake/incomplete_files/ZmFtaWxpZXNfZnViYXIvNDEwMjMuZmFh
.snakemake/incomplete_files/ZmFtaWxpZXNfZnViYXIvNDEwLmZhYQ==
.snakemake/incomplete_files/ZmFtaWxpZXNfZnViYXIvMzgwNDEuZmFh
.snakemake/incomplete_files/ZmFtaWxpZXMvZmFtaWx5X19fc25ha2VtYWtlX2R5bmFtaWNfXy5hbG4=
.snakemake/code_tracking/ZmluYWxfcmVzdWx0cy9mYW1zVW5kZXJTZWxlY3Rpb24udHh0
.snakemake/code_tracking/ZmFtaWxpZXNfZnViYXIvZmFtaWx5XzM4MDQxLmZhYQ==
.snakemake/code_tracking/ZmFtaWxpZXMvZmFtaWx5XzQxMDIzLmFsbi5jb2Rvbg==
.snakemake/code_tracking/ZmFtaWxpZXMvZmFtaWx5XzQxMC5hbG4uY29kb24=
.snakemake/code_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLnRyZWU=
.snakemake/code_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmZuYS5jbGVhbmVk
.snakemake/code_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbi5jb2Rvbi5GVUJBUi5sb2c=
.snakemake/code_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbi5jb2Rvbi5GVUJBUi5qc29u
.snakemake/code_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbi5jb2Rvbg==
.snakemake/code_tracking/ZmFtaWxpZXMvZmFtaWx5XzM4MDQxLmFsbg==
.DS_Store
.snakemake/code_tracking/ZmFtaWxpZXMvZmFtaWx5XzQxMC5hbG4uY29kb24=
.snakemake/code_tracking/ZmFtaWxpZXMvZmFtaWx5XzQxMDIzLmFsbi5jb2Rvbg==
families/family_410.aln.codon.FUBAR.cache
families/family_410.aln.codon.FUBAR.json
families/family_41023.aln.codon.FUBAR.cache
families/family_41023.aln.codon.FUBAR.json
