.DS_Store
families/
families_fubar/
families_absrel/
.snakemake/
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
.idea/wsgups.iml
.idea/shelf/
venv/
/test/proteinortho/
/AA.faa
NT.fna
fam.txt
fam_dup.txt
proteinortho/
families/
final_results/
/errors.log
.gitignore